[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
torch = "*"
requests = "*"
keybert = "*"
progressbar = "*"
rake-nltk = "*"
nltk = "*"
spacy = "*"
numpy = "*"
gensim = "*"
scikit-learn = "*"
pandas = "*"
groq = "*"

[dev-packages]

[requires]
python_version = "3.11"
